h1 {
    color: blueviolet;
    font-style: italic;
}
/*estoy probando colores y fuentes*/
p {
    color: blue;
    
}
/*eesto es un selector*/
#primera-noticia{
    color: green;
    font-size: 12pt;
}
#segunda-noticia{
    color: brown;
}
.encabezado{
    font-size: 24pt;
    text-transform: uppercase;
}
/**existe un selector universal*/
* {
    color: yellow;
}
.autor {
text-decoration: dotted;
}
.fecha {
    text-decoration: underline;
}
.ubicacion {
    text-decoration: overline;
}
/*.autor, .fecha, .ubicacion{
    text-decoration: dotted;
}*/