
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:ital,wght@0,400;1,900&display=swap');
html {
   /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
   font-family: 'Source Sans Pro', sans-serif;*/
   font-family: 'Qwitcher Grypen', cursive;
    font-size: 11pt;
    font-weight: 400;
    /*importar fuentes de google*/
}