/*https://codepen.io/enxaneta/full/adLPwv
no es bueno sobre utilizar el flex*/

.flex {
    display: flex;
    flex-direction: row-reverse;
    /**/
    background-color: yellow;
    height: 300px;
    /*justify-content: center;*/
    justify-content: space-between;/*SE REDIMEnsionan*/
    align-items: center;/*flex-end*/
}
.contenido-1{
    background-color: white;
    height: 200px;
    width: 100px;
    border: 1px solid blue;
}
.contenido-2{
    background-color: white;
    height: 200px;
    width: 100px;
    border: 1px solid blue;
}
.contenido-3{
    background-color: white;
    height: 200px;
    width: 100px;
    border: 1px solid blue;
}